<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Accedi al tuo account</h1>

    <form th:action="@{/login}" method="post" th:object="${userDTO}">

        <div th:if="${#fields.hasErrors('email')}">
            <span class="text-danger" th:errors="*{email}">Email non valida o non presente.</span>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" th:field="*{email}" />
        </div>

        <div th:if="${#fields.hasErrors('password')}">
            <span class="text-danger" th:errors="*{password}">Password errata.</span>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" th:field="*{password}" />
        </div>

        <button type="submit" class="btn btn-primary">Accedi</button>

        <a href="#">Hai dimenticato la password?</a>

    </form>

</body>
</html>

